<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="identity">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/inicio']" >
      <img src="../../assets/image/pokedex logo.svg" style="height: 60px;" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['']">Ver Pokemon</a>
        </li>
    <!--     <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form> -->
      </ul>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <img class="avatar_mask" src="{{url + 'avatar/' + identity.image}}">
      <li class="nav-item dropdown d-flex ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{identity.name +" "+identity.surname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/user-edit']">Configuracion de perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item pointer" (click)="logout()">Cerrar seccion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
