

<main>
  <div class="alert alert-success alert-dismissible fade show position-absolute m-auto" *ngIf="status == 'success'">
    <h4 class="alert-heading"><i class="bi-exclamation-octagon-fill"></i> Registro completado con exito.</h4>
    <p class="mb-0">Su registro fue completado con exito para acceder al login puede hacerlo dandole clik al siguiente enlace.<a [routerLink]="['/login']" >login</a></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"> </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show position-absolute m-auto" *ngIf="status == 'error'">
    <h4 class="alert-heading"> Oops! Algo salio mal.</h4>

    <p class="mb-0">Comprueba que todos los datos estan llenos, y que su email sea el correcto.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <div class="header d-flex align-items-center flex-column">
    <img class="" src="../../assets/image/pokedex logo.svg" alt="" width="300" height="100">
    <H3 class=" pt-3">
      Formulario de Registro
    </H3>
  </div>
  <div class="col-4 container">

    <div class="container  ">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="row ">
          <div class=" form-group">
            <label class="lal " for="">Nombre</label>
            <input class="col-12 form-control " id="name" type="text" #name="ngModel" [(ngModel)]="user.name" name="name"
              required pattern="[a-z A-Z]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
              Nombre no es valido
            </small>
          </div>
          <div class=" form-group ">
            <label class="lal" for="">Apellido</label>
            <input class="col-12 form-control" id="surname" type="text" name="surname" #surname="ngModel"
              [(ngModel)]="user.surname" required pattern="[a-z A-Z]+">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
              Apellido no es valido
            </small>
          </div>
          <div class=" form-group ">
            <label class="lal" for="">Correo Electronico</label>
            <input class=" col-12 form-control " id="email" type="text" name="email" #email="ngModel"
              [(ngModel)]="user.email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
              Email no es valido
            </small>
          </div>
          <div class=" form-group">
            <label class="lal" for="">Contraseña</label>
            <input class="col-12 form-control" id="password" type="password" name="password" #password="ngModel"
              [(ngModel)]="user.password" required>
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
              Contraseña no es valido
            </small>
          </div>
          <div class=" form-group">
            <label class="lal" for="">Whatsapp</label>
            <input class="col-12 form-control" id="whatsapp" type="whatsapp" name="whatsapp" #whatsapp="ngModel"
              [(ngModel)]="user.whatsapp" required>
            <small *ngIf="!whatsapp.valid && whatsapp.touched" class="invalid-feedback d-block">
              Contraseña no es valido
            </small>
          </div>
          <div class=" form-group">
            <label class="lal" for="">ciudad</label>
            <input class="col-12 form-control" id="ciudad" type="ciudad" name="ciudad" #ciudad="ngModel"
              [(ngModel)]="user.ciudad" required>
            <small *ngIf="!ciudad.valid && ciudad.touched" class="invalid-feedback d-block">
              Contraseña no es valido
            </small>
          </div>
          <input type="submit" class="mb-3  mt-2 form-control btn btn-info col-12 " value="Completar">
        </div>
      </form>
    </div>
  </div>

</main>
